<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
    <servers>
        <server>
            <id>github-packages</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.GITHUB_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>profile-m-all</id>
            <repositories>
                <repository>
                    <id>m-all</id>
                    <url>https://artifactory.aexp.com/prod/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>profile-m-all</activeProfile>
    </activeProfiles>

</settings>
