name: Build & Push Git2Go Image

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: aexp-ubuntu-latest-medium

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Extract Version + Major
        id: version
        run: |
          REF="${GITHUB_REF:-}"
          echo "GITHUB_REF='$REF'"
          
          # Remove leading "refs/tags/" if present
          REF_NO_PREFIX="${REF#refs/tags/}"
          
          VERSION="${REF_NO_PREFIX#v}"
          MAJOR="v$(echo "$VERSION" | cut -d. -f1)"
          
          echo "Computed VERSION='$VERSION'"
          echo "Computed MAJOR='$MAJOR'"
          
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "major=$MAJOR" >> $GITHUB_OUTPUT

      - name: Set up Java
        uses: amex-eng/setup-java@v4.2.2
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'

      - name: Setup Maven
        uses: amex-eng/setup-maven@ae4bb8b0c9f98e490c38e1c17d9e63c9acab5705
        with:
          maven-version: 3.9.6
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'

      - name: Build uber Jar
        run: mvn -B clean package -DskipTests

      - name: Update action.yml
        run: |
          sed -i "s#__MAJOR__#${{ steps.version.outputs.major }}#g" action.yml
          sed -i "s#__TAG__#${{ steps.version.outputs.version }}#g" action.yml

      - name: Docker login to Artifactory
        run: |
          echo "${{ secrets.ARTIFACTORY_PASSWORD }}" | docker login ${{ secrets.DOCKER_PAAS_REGISTRY }} \
            --username ${{ secrets.ARTIFACTORY_USERNAME }} \
            --password-stdin

      - name: Build Docker image
        run: |
          docker build \
            --build-arg JAR_FILE=target/git2go-${{ steps.version.outputs.version }}.jar \
            -t ${{ secrets.DOCKER_PAAS_REGISTRY }}/${{ github.repository }}/${{ steps.version.outputs.major }}:${{ steps.version.outputs.version }} \
            -t ${{ secrets.DOCKER_PAAS_REGISTRY }}/${{ github.repository }}/${{ steps.version.outputs.major }}:latest \
            .

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_PAAS_REGISTRY }}/${{ github.repository }}/${{ steps.version.outputs.major }}:${{ steps.version.outputs.version }}
          docker push ${{ secrets.DOCKER_PAAS_REGISTRY }}/${{ github.repository }}/${{ steps.version.outputs.major }}:latest

      - name: Update major tag
        run: |
          git tag -f ${{ steps.version.outputs.major }}
          git push origin ${{ steps.version.outputs.major }} --force
