name: Generate Tag from pom.xml

on:
  push:
    branches:
      - develop

jobs:
  tag:
    runs-on: aexp-ubuntu-latest-medium

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Extract Version from pom.xml
        id: get_version
        run: echo "version=$(grep -m1 '<version>' pom.xml | sed -E 's/.*<version>(.*)<\/version>.*/\1/')" >> $GITHUB_ENV

      - name: Create Git Tag using GitHub Action
        uses: piszmog/create-tag@v1
        with:
          version: "v${{ env.version }}"
          message: "Release ${{ env.version }}"
          token: ${{ secrets.GITHUB_TOKEN }}
