name: Generate Tag and Release, And Build and Push Docker Image

on:
  push:
    tags:
      - v*
    branches:
      - develop

jobs:
  build_and_push_docker_image:
    runs-on: aexp-ubuntu-latest-medium

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: github-actions[bot]
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          version=${GITHUB_REF##*/}
          docker build -t ghcr.io/${{ github.repository }}/git2go:$version .
          docker push ghcr.io/${{ github.repository }}/git2go:$version

#      - name: Log in to GitHub Container Registry
#        uses: docker/login-action@v3
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: Build and Push Docker Image
#        run: |
#          version=${GITHUB_REF##*/}
#          docker build -t ghcr.io/${{ github.repository }}/git2go:$version .
#          docker push ghcr.io/${{ github.repository }}/git2go:$version
