name: Generate Tag and Release, And Build and Push Docker Image

on:
  release:
    types: [ published ]
  push:
    tags:
      - v*
    branches:
      - develop

jobs:
  build_and_push_docker_image:
    runs-on: aexp-ubuntu-latest-medium

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Build image
        run: docker build . --file Dockerfile --tag git2go --label "runnumber=${GITHUB_RUN_ID}"

      - name: Log in to registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin

      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/git2go
          
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          
          [ "$VERSION" == "main" ] && VERSION=latest
                    echo IMAGE_ID=$IMAGE_ID
                    echo VERSION=$VERSION
                    docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
                    docker push $IMAGE_ID:$VERSION
#      - name: Build and Push Docker Image
#        run: |
#          version=${GITHUB_REF##*/}
#          docker build -t ghcr.io/${{ secrets.GHCR_REPOSITORY }}/git2go:$version .
#          docker push ghcr.io/${{ secrets.GHCR_REPOSITORY }}/git2go:$version

#      - name: Log in to GitHub Container Registry
#        uses: docker/login-action@v3
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: Build and Push Docker Image
#        run: |
#          version=${GITHUB_REF##*/}
#          docker build -t ghcr.io/${{ github.repository }}/git2go:$version .
#          docker push ghcr.io/${{ github.repository }}/git2go:$version
